body{
    background: rgb(85, 102, 91);
    color:black;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 28px;
    box-shadow: 10px 10px 10px rgb(0, 0,0);
    border-radius: 9px;
    margin: 55px;
    text-align: center;
}

.city{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, o.2);
}

.city:last-child{
    border: none;
}
h2{
    margin: 0,0 5px;
    font-size: 28px;
}

.date{
    opacity: 0,7;
}

.time {
    font-size: 36px;
    font-weight: bold;
}

.time small {
    font-size: 18px;
    vertical-align: 18px;
    line-height: 33px;
}
select{
    display: block;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
}

footer{
    text-align: center;
    font-size: 18px;
    color: deeppink;
}